<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899923775025-406001jvhg6u3a02a15jsrvi8vl6hb3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899923775025-406001jvhg6u3a02a15jsrvi8vl6hb3e</string>
	<key>API_KEY</key>
	<string>AIzaSyACBvco8Ombf2CDLH5kLCmIHRK8qxC2F0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>899923775025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenmoneyClone</string>
	<key>PROJECT_ID</key>
	<string>testing-100b2</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-100b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899923775025:ios:ed03995e13c59bfe33cf10</string>
</dict>
</plist>